<div class='container'>
  <h3>List of movies</h3>
  <p>You have selected: {{counter}} movies</p>

  <button (click)='selectedAll = true' (click)='selectAll()'>Select all</button>
  
  <button (click)='selectedAll = false; selectedAny = false' (click)='deselectAll()'>Deselect all</button>
 
  <button [class.active]='order === "name"' (click)='setOrder("name")'>Sort by name</button>
  <button [class.active]='order === "duration"' (click)='setOrder("duration")'>Sort by duration</button>

  <tr *ngFor='let movie of movies | orderBy: order : reverse'
  [movieRow]='movie'
  (onVoted)='onVoted($event)'
  [selectedAny]='selectedAny'
  [selectedAll]='selectedAll'>
  </tr>

</div>